body{
    background-color: rgb(142, 81, 192);
}
.conteiner{
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(206, 188, 253);
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    width: 450px;
    height: 900px;
    color: rgb(0, 0, 0);
}
.div{
    background-color: #f3ebfd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px ;
    border: solid 1px rgb(255, 255, 255);
}
textarea{
    cursor: text;
    padding-inline: 100px;
}
#termos{
    cursor: pointer;
}
input[type= "radio"] {
    cursor: pointer;
}
#image{
    position: fixed;
    width: 400px;
    height: 700px;
    margin-left: 600px;
}
button{
    background-color: hsl(267, 65%, 78%);
    padding: 10px;
    width: 90%;
    margin: 10px;
    border-radius: 10px ;
    border: solid 1px rgb(255, 255, 255);
}
